#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    flex: 3;

    background: var(--marine-blue);
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 120px 80px;

    img {
      max-width: 320px;
    }

    main {
      flex-direction: column;

      strong {
        font: 700 36px 'Poppins', sans-serif;
        line-height: 42px;
        margin-top: 16px;
      }
  
      p {
        font-size: 24px;
        line-height: 32px;
        margin-top: 16px;
        color: #f8f8f8;
      }
    }

    @media(max-width: 720px) {
      flex-direction: row;
      padding: 20px 10px;

      img {
        max-width: 120px;
      }

      main {
        strong {
          font-size: 24px;
          line-height: 30px;
        }

        p {
          font-size: 16px;
          line-height: 18px;
        }
      }
    }
  }

  main {
    flex: 8;

    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;

    >img {
      align-self: center;
    }

    h2 {
      font-size: 26px;
      margin: 62px 0 24px;
      font-family: 'Poppins', sans-serif;
    }

    form {
      input {
        height: 50px;
        border-radius: 8px;
        padding: 0 16px;
        background: var(--white);
        border: 1px solid var(--marine-blue) ;
      }

      button {
        margin-top: 16px;
      }

      button, input {
        width: 100%;
      }
    }

    p {
      font-size: 14px;
      color: var(--dark-grey);
      margin-top: 16px;

      a {
        color: var(--danger-hover);
      }
    }
  }

  .create-room {
    margin-top: 64px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: transparent;
    color: var(--black);
    border: 1px solid var(--medium-grey);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: border-color 0.2s;

    img {
      margin-right: 8px;
    }

    &:hover {
      border: 1px solid var(--medium-grey-hover);
    }
  }

  .separator {
    font-size: 14px;
    color: var(--dark-grey);

    margin: 32px 0;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      flex: 1;
      height: 1px;
      background: var(--dark-grey);
      margin-right: 16px;
    }

    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background: var(--dark-grey);
      margin-left: 16px;
    }
  }

  h3 {
    margin: 0;
    margin-top: 32px;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
  }

  .user-created-rooms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-height: 140px;
    overflow-y: scroll;
    padding: 8px;
    background: var(--light-grey-hover);
    border-radius: 8px;
    gap: 8px;

    box-shadow: 0 2px 12px var(--shadow);

    &::-webkit-scrollbar {
      width: 5px;
    }
  
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  
    &::-webkit-scrollbar-thumb {
      background: #835afd;
      border-radius: 5px;
    }
  
    &::-webkit-scrollbar-thumb:hover {
      filter: brightness(0.7);
    }
  }

  @media(max-width: 720px) {
    flex-direction: column-reverse;
    height: 100vh;
  }
}