.button {
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background: var(--marine-blue);
  color: var(--white);
  padding: 0 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: background-color 0.2s;

  img {
    margin-right: 8px;
  }

  &.outlined {
    background: var(--white);
    border: 1px solid var(--marine-blue);
    color: var(--marine-blue);

    transition: all 0.2s;

    &:hover {
      border-color: var(--marine-blue-hover);
      color: var(--white);
    }
  }

  &:not(:disabled):hover {
    background: var(--marine-blue-hover);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}