.question {
  background: var(--white);
  border-radius: 8px;
  box-shadow: 0 2px 12px var(--shadow);
  padding: 24px;

  & + .question {
    margin-top: 8px;
  }
  
  &.highlighted {
    background: var(--light-danger);
    border: 1px solid var(--danger);

    footer .user-info span {
      color: var(--black);
    }
  }

  &.answered {
    background: var(--medium-grey);
    
    footer .user-info img {
      filter: saturate(0);
    }
  }

  p {
    color: var(--black);
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span {
        margin-left: 8px;
        color: var(--dark-grey);
        font-size: 14px;
      }
    }

    > div {
      display: flex;
      gap: 16px;
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: var(--dark-grey);
        gap: 8px;

        transition: filter 0.2s;

        &.liked {
          color: var(--danger);

          svg path {
            stroke: var(--danger);
          }
        }

        &:hover {
          color: var(--danger);
        }
      }
    }
  }
}